*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: auto;
}

header[role=banner]{
    /*background-color: yellow;*/
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

nav[role=main-nav]{
    padding: 20px;
    text-align: center;
    background-color: #d1e3e3;
}
nav[role=main-nav] li{
    list-style: none;
    margin: 10px;
}
nav[role=main-nav] a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

nav[role=main-nav] a:hover{
    font-weight: bolder;
    text-decoration: underline;
    color: darkred;
}
.summary,.preamble{
    margin: 10px 0px;
}
h3{
   background-color: blue;
    color: white;
    padding: 10px 10px;
}
article{

    margin: 10px 0;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    nav[role=main-nav] ul{
        display: flex;
    }
}

















/*!**{*!*/
/*!*    border: 1px red solid;*!*/
/*!*    margin: 10px;*!*/
/*!*}*!*/

/**{*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*article{*/
/*    padding: 10px;*/
/*    margin: 20px;*/
/*}*/
/*.box {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border: 5px yellow solid;*/
/*    margin: 10px;*/
/*}*/

/*.contentbox{*/
/*    padding: 20px;*/
/*    background-color: darkred;*/

/*}*/
/*.borderbox{*/
/*    box-sizing: border-box;*/
/*    padding: 10px;*/
/*    background-color: blue;*/

/*}*/

/*article {*/
/*    background-color: pink;*/
/*    color: purple;*/
/*}*/

/*section{*/
/*    border: red 4px solid;*/
/*    padding: 10px;*/
/*}*/

/*a[href=C]{*/
/*    !*background-color: darkred;*!*/
/*    margin: 20px;*/
/*    height: 50px;*/
/*}*/

/*nav li{*/
/*    list-style: none;*/
/*    margin: 20px;*/
/*}*/

/*nav a{*/
/*    text-decoration: none;*/
/*    padding: 20px;*/
/*}*/
/*!*section header{*!*/
/*!*    background-color: black;*!*/
/*!*    color: white;*!*/
/*!*}*!*/

/*!*section, header{*!*/
/*!*    border: black 5px dotted;*!*/
/*!*}*!*/

/*!*header p{*!*/
/*!*    font-size: 1.5rem;*!*/
/*!*    text-transform: uppercase;*!*/
/*!*    text-align: center;*!*/
/*!*}*!*/
/*!*article.explanation{*!*/
/*!*    background-color: orange;*!*/
/*!*    color: white;*!*/
/*!*    font-family: "Times New Roman";*!*/
/*!*}*!*/

/*!*#css-zen-garden{*!*/
/*!*    background-color: black;*!*/
/*!*    color: white;*!*/
/*!*}*!*/
