<h1>Welcome to Student Management System Website {{title}} Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, est.</p>
<ul>
    <li><a href="/api/programs">Click here to see all the programs [/api/programs]</a></li>
    <li><a href="/api/courses/CE">Click here to see all the CE courses [/api/courses/CE]</a></li>
</ul>

