* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px red solid;*/
    /*margin: 10px;*/
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 0.15fr 0.25fr auto 0.2fr;
}

.sub-img {
    width: 200px;
    height: 200px;
}

header {
    /*background-color: green;*/
    margin: 20px;
    display: grid;
    place-items: center;
    /*text-align: center;*/
    text-transform: uppercase;
}

header span {
    color: red;
}

nav {
    background-color: orange;
    text-align: center;
}

nav li {
    list-style: none;
}

nav a {
    list-style: none;
    padding: 0.75rem;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: green;
}

main {
    background: url("../img/bg.jpg") center;
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}

.title {
    text-align: center;
    line-height: 2rem;
}

.btn-buy {
    background-color: orange;
    color: white;
    padding: 1rem;
    font-size: larger;
    border-radius: 15px;
    transition: 0.5s;
    border: none;
    font-weight: bold;
}

.btn-buy:hover {
    background-color: green;
}
li:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer {
    background-color: darkred;
    display: grid;
    place-items: center;
    color: white;
}

@media screen and (min-width: 40rem){
    nav ul{
        display: flex;
        justify-content: center;
    }

    .container{
        grid-template-rows: 0.15fr 0.02fr auto 0.1fr;
    }
    footer{
        background-color: orangered;
    }
}
@media screen and (min-width: 60rem) {
    .container {
        grid-template-rows: 0.25fr auto 0.1fr;
        grid-template-columns: 0.15fr auto;
        grid-template-areas:
                "header main"
                "nav main"
                "footer footer";
    }
    nav ul{
        flex-direction: column;

    }
    u

    main {
        grid-area: main
    }
    header {
        grid-area: header
    }
    nav {
        grid-area: nav
    }
    footer {
        grid-area: footer;

    }
}
